.card-title {
  border-bottom: 1px solid grey;
}

ngb-accordion {
  width: 100%;
}

li {
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}


ng-select {
  min-width: 200px;
  width: auto;
}
