<nav class="d-none d-md-block bg-light sidebar h-100">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']" [routerLinkActive]="'active'">
          Statistika
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users']" [routerLinkActive]="'active'">
          Vartotojai
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/cars']" [routerLinkActive]="'active'">
          Automobiliai
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/rents']" [routerLinkActive]="'active'">
          Nuomos
        </a>
      </li>
    </ul>
  </div>
</nav>
